
<footer> 
  Copyright <i class="far fa-copyright"></i> 2021 
  <a href="https://www.linkedin.com/in/ana-ribeiro-coimbra/" target="_blank">
    Ana Coimbra. 
  </a> All rights reserved.
</footer>

</body>



</html>

